.planer-mission-container {
  background: #ffffff;
  border-radius: 15.45px;
  filter: drop-shadow(0px 4px 12px rgba(73, 73, 73, 0.16));
  padding: 24px;
}
.planer-mission-container-mission-block-text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.planer-mission-container-mission-block-textTwo {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
.planer-mission-container-mission-blockTwo {
  margin-top: 9px;
}
.star {
  color: #cf2b07;
}
.planer-mission-container-completion-block {
  display: flex;
  align-items: center;
  margin-top: 28px;
}
.planer-mission-container-completion-block-precent-block {
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 29px;
  margin-left: 5px;
  cursor: pointer;
}
.planer-mission-container-completion-block-precent-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.5%;
  color: #c2c9d1;
}
.planer-mission-container-power-block {
  display: flex;
  justify-content: space-between;
}
.planer-mission-container-power-block-text-block {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.5%;
  color: #000000;
}
.planer-mission-container-power-block-scale {
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 6px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 29px;
  cursor: pointer;
}
.planer-mission-container-power-block-first {
  display: flex;
  margin-top: 28px;
}
.planer-mission-container-power-block-scale-text-block {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}
.planer-mission-container-power-block-scale-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 142.5%;
  color: #d1d7dc;
}
.planer-mission-container-power-block-scale-text-block-child {
  width: 100%;
}
.line {
  width: 0.91px;
  height: 14.34px;
  background: #c2c9d1;
  border-radius: 7px;
}

.planer-mission-container-pause-block-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 142.5%;
  color: #000000;
}
.planer-mission-container-pause-block-containter {
  display: flex;
}
.planer-mission-container-pause-block-containterTwo {
  display: flex;
  margin-left: 39px;
  align-items: flex-start;
}
.planer-mission-container-pause-block-containter-down {
  display: flex;
  margin-top: 16px;
}
.planer-mission-container-pause-block-reply-one {
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  margin-left: 8px;
  cursor: pointer;
}
.planer-mission-container-pause-block-reply-two {
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  margin-left: 6px;
  cursor: pointer;
}
.planer-mission-container-pause-block-reply-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 142.5%;
  color: #c2c9d1;
  margin: 6px 0;
}
.planer-mission-container-pause-block-reply-block {
  display: flex;
  align-items: center;
}
.planer-mission-container-pause-block {
  display: flex;
  margin-top: 33px;
}
.planer-mission-container-pause-block-text-block-down {
  max-width: 202px;
}
.planer-mission-container-button-block {
  display: flex;
  justify-content: flex-end;
}
.planer-mission-container-button {
  display: flex;
  border: 2px solid #00a2ff;
  border-radius: 13px;
  width: 272px;
  justify-content: center;
  align-items: center;
  height: 57px;
  cursor: pointer;
}
.planer-mission-container-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #00a2ff;
}

.planer-mission-block-up-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-right: 17px;
  color: #000000;
}
.planer-mission-block-up {
  display: flex;
  align-items: center;
}
.planer-mission-block-up-status {
  width: 80px;
  height: 40px;
  left: 194.5px;
  top: 380.93px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}
.planer-mission-block-radio-status {
  height: 40px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 11px;
}
.planer-mission-block-radio-block {
  display: grid;
  justify-items: center;
}
.planer-mission-block-radio-block-ml {
  display: grid;
  margin-left: 33px;
  justify-items: center;
}
.planer-mission-container-bottom-up-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 21px;
}
.planer-mission-container-bottom-second-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
}
.planer-mission-container-bottom-second-block-child-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}
.planer-mission-container-bottom-second-button-block {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.planer-mission-container-bottom-second-button-yes {
  width: 80px;
  height: 40px;
  background: #00a2ff;
  border: 1px solid #00a2ff;
  border-radius: 10px 0px 0px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
}
.planer-mission-container-bottom-second-button-no {
  width: 80px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 0px 10px 10px 0px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #c2c9d1;
}
.planer-mission-container-bottom-comments-block {
  margin-top: 32px;
}
.textarea {
  resize: none;
  background: #ffffff;

  border: 1px solid #c2c9d1;
  border-radius: 10px;
  width: 100%;
  outline: none;
  height: 80px;
  padding: 13px 19px;
}
.textarea-block {
  margin-top: 8px;
}
.planer-mission-button-bottom {
  margin-top: 33px;
  width: 272px;
  height: 57px;
  left: 26.21px;
  top: 697.36px;

  border: 2px solid #c2c9d1;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.planer-mission-button-bottom-text {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #c2c9d1;
}
.radio-text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #c2c9d1;
}
input[type="radio"] {
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  outline: none;
  background-color: #c2c9d1;
}

input[type="radio"]:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

input[type="radio"]:checked:before {
  background: #00a2ff;
}

input[type="radio"]:checked {
  border-color: #00a2ff;
}
