.tasks-stages-container {
  padding: 25px 24px 39px 24px;
  width: 313px;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.tasks-stages-container-up-block {
  display: flex;
  justify-content: space-between;
}
.tasks-stages-container-up-block-text {
  margin-left: 12px;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #1d1d1d;
}
.tasks-stages-container-down-block {
  margin-left: 21px;
}
.tasks-stages-container-down-block-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
  max-width: 176px;
}
.tasks-stages-container-down-block-childFirst {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.tasks-stages-container-down-block-child-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #1d1d1d;
}
.tasks-stages-container-down-block-child-svg {
  margin-right: 4px;
  display: block;
}

.tasks-stages-container-up-block-date-block {
  width: 65px;
  height: 15px;
  background: #00a2ff;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;
}
.tasks-stages-container-up-block-date-text {
  font-style: normal;
  font-weight: 500;
  font-size: 7px;
  line-height: 8px;
  color: #ffffff;
}

.tasks-stages-container-up-block-svg-text-block-child-text-block {
  display: flex;
  align-items: center;
}
.tasks-stages-container-up-block-svg-text-block-child-text-block-down {
  display: flex;
  justify-content: center;
}
.tasks-stages-container-up-block-svg-text-block-child-text-block-down-text {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: #1d1d1d;
}
.tasks-stages-container-up-block-expand-svg {
  cursor: pointer;
}
.create-line {
  width: 2.3px;
  height: 100%;
  background-color: #00a2ff;
  position: fixed;
  margin-left: 5.5px;
  margin-top: 4px;
}
.arrowBlock {
  width: 100%;
  border-left: 2.33px solid #00a2ff;
}
.tasks-stages-container-up-block-svg-text-block-ellipse {
  position: absolute;
  left: 18.5px;
}
.tasks-stages-container-up-block-svg-text-block-new {
  display: flex;
  align-items: center;
}

.tasks-stages-container-first-block,
.tasks-stages-container-etc-block {
  position: relative;
  padding-bottom: 10px;
}

.tasks-stages-container-down-block {
  padding-bottom: 30px;
  margin-left: 21px;
}

.tasks-stages-container-up-block-svg-text-block-ellipse {
  left: -5px;
  top: 2px;
  position: relative;
}
.line-item {
  top: 5px;
  position: absolute;
  background: linear-gradient(#01a2ff, #c2c9d1 60%);
  width: 3px;
  bottom: -5px;
}
