.tasks-container {
  display: flex;
  padding: 41px 0 233px 24px;
  position: relative;
  z-index: 1;
  top: 86px;
}
.tasks-container-left-up-block {
  margin-bottom: 27px;
}

.tasks-container-left-up-block-text {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  color: #1d1d1d;
}
.tasks-container-left-up-block-text-down {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1d;
}
.tasks-container-left-up-block-rod {
  margin-left: 57px;
  position: relative;
  z-index: 1;
}
.container-tasks {
  max-width: 1600px;
  margin: auto;
}