.planer-caption-container {
  width: 336px;
  background: #ffffff;
  border-radius: 15.45px;
  padding: 24px 40px 41px 25px;
  filter: drop-shadow(0px 4px 12px rgba(73, 73, 73, 0.16));
}
.planer-caption-container-block-text {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.planer-caption-container-block-two-text-first {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
}

.planer-caption-container-block-two-text-second {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #333333;
}
.planer-caption-container-block-two-block-up {
  margin-top: 12px;
}
.planer-caption-container-block-two-block {
  margin-top: 8px;
}
