.header-menu-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 24px 18px 24px;
  border-bottom: 1px solid #c2c9d1;
}

.header-menu-middle-block {
  display: flex;
}
.header-menu-middle-text-block {
  margin-right: 32px;
  cursor: pointer;
}
.header-menu-middle-text-block:hover .header-menu-middle-text {
  color: #00a2ff;
}
.header-menu-middle-text {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #1d1d1d;
}

.header-menu-right-block {
  display: flex;
}
.header-menu-right-block-svg {
  margin-right: 29px;
}
.header-menu-middle-text-active {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid #00a2ff;
  color: #00a2ff;
}
