.sup-mat-container {
  background: url(../../../assets/images/background-main-center.png);
  object-fit: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.sup-mat-text-block {
  max-width: 632px;
  margin-bottom: 32px;
}
.sup-mat-text-up {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1d1d1d;
}
.sup-mat-text-down {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1d1d1d;
  margin-top: 8px;
}
.sup-mat-video-block {
  background: #ffffff;
  min-width: 893px;
  padding: 25px;
}
.sup-mat-video {
  width: 501px;
  height: 303px;
  border-radius: 13px;
}
.sup-mat-video-text-block {
  margin-top: 24px;
}
.sup-mat-video-text-up {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1d;
}
.sup-mat-video-text-down {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #1d1d1d;
  margin-top: 24px;
}
.sup-mat-video-text-child-block {
  margin: 24px 0;
}

.sup-mat-text-down-block {
  margin-top: 24px;
  background: #ffffff;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.05),
    0px 0px 0px 1px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  min-width: 893px;
  padding: 25px;
}
.mt125 {
  margin-top: 125px;
}
.video-react.video-react-fluid, .video-react.video-react-16-9 {
  width: 501px !important;
height: 303px !important;
border-radius: 15px !important;
}
.video-react-poster {
  border-radius: 15px !important;
}