.footer-container {
  background-color: #ffffff;
  padding: 25px 90px 35px 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  height: 141px;
}
.footer-container-block-text-down {
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 17px;
  color: #c2c9d1;
  margin-top: 4px;
}
.footer-container-block-text-up {
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  color: #00a2ff;
}

.footer-container-block-one-text-down-block {
  margin-top: 32px;
}
.footer-container-block-text-second {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #113045;
  cursor: pointer;
  margin-left: 11px;
  text-align: left;
}
.hoverAct {
  display: none;
}

.footer-flex:hover .hoverNone {
  display: none;
}
.footer-flex:hover .hoverAct {
  display: block;
}
.footer-container-block-text-four {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #113045;
  cursor: pointer;
  text-align: left;
}
.footer-flex {
  display: flex;
}
.footer-container-block-two-imgs-block {
  display: flex;
  margin-top: 7px;
}
.footer-container-block-two-img-one {
  margin-right: 9px;
}
.footer-container-block-three-text-up-block {
  max-width: 249px;
  margin-bottom: 16px;
}
.footer-container-block-four {
  max-width: 288px;
}
.footer-container-block-four-text-down-block {
  margin-top: 5px;
  margin-bottom: 11px;
}
.footer-container-block-text-down-policy {
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  border-bottom: 1px solid #00a2ff;
  color: #00a2ff;
  cursor: pointer;
}
