.planer-menu-container {
  padding-top: 49px;
  padding-left: 12%;
  padding-right: 12%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 200px;
}
.background-filter::after {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.background-filter {
  position: relative;
}
.planer-menu-container-up-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}
.planer-menu-container-up-block-first {
  display: flex;
  align-items: center;
}
.planer-menu-container-up-block-first-svg-block {
  margin-right: 15px;
}
.planer-menu-container-up-block-first-text-up {
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1d1d1d;
}
.planer-menu-container-up-block-first-text-down {
  font-style: normal;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  margin-right: 20px;
}
.planer-menu-container-up-block-first-text-block-two {
  margin-top: 12px;
  display: flex;
}
.planer-menu-container-up-block-second-text-up {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #df1010;
  max-width: 200px;
  margin-right: 50px;
}
.planer-menu-container-up-block-second {
  display: flex;
}
.planer-menu-container-up-block-second-svg-left {
  cursor: pointer;
  margin-right: 5px;
}
.planer-menu-container-up-block-second-svg-right {
  cursor: pointer;
  margin-left: 5px;
}
.planer-menu-container-up-block-second-time-block {
  height: 40px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
}
.planer-menu-container-up-block-second-time-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.planer-calendar-container {
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.planer-menu-down-left-block {
  margin-top: 17px;
}
.planer-menu-down-left-button {
  width: 312px;
  height: 57px;
  background: #00a2ff;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.planer-menu-down-left-button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}
.planer-menu-down-left-button-block {
  margin-top: 35px;
}
.planer-menu-flex-team {
  display: flex;
  justify-content: space-between;
  margin-top: 41px;
  position: relative;
  z-index: 1;
}
.planer-menu-mt {
  margin-top: 16px;
}
.fullwidth {
  width: 100%;
}
.mr16 {
  margin-right: 16px;
}
.wrap-bg {
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: url(../../../assets/images/background-main-center.png);
}
