.auth-container {
  background: #f5faff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.resetPass-container {
  background: url(../../assets/images/background-main-center.png);
  mix-blend-mode: multiply;
  border-radius: 20px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.auth-menu-block {
  margin: 160px 0;
  width: 502px;
}
.auth-menu-up-block {
  display: grid;
  justify-items: center;
}
.auth-menu-up-block-text {
  margin-top: 17px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1d1d1d;
}
.auth-menu-up-block-text-restore {
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #1d1d1d;
  margin-bottom: 16px;
}
.auth-menu-up-block-text-two-restore {
  max-width: 468px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 24px;
  color: #1d1d1d;
}
.auth-menu-input {
  width: 100%;
  height: 68px;
  padding-left: 24px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 13px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #1d1d1d;
  margin-bottom: 16px;
}
.auth-menu-input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #c2c9d1;
}
.auth-menu-policy-block,
.auth-menu-policy-block-two {
  width: 458px;
}
.auth-menu-policy-block-two {
  margin-top: 15px;
}
.auth-menu-policy-block-checkbox-block {
  display: flex;
  align-items: center;
}
.auth-menu-policy-block-checkbox-block-text,
.auth-menu-policy-block-checkbox-block-text-two {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c2c9d1;
}
.auth-menu-policy-block-checkbox-block-child {
  margin-left: 24px;
}
.auth-menu-policy-block-checkbox-hidden {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.auth-menu-policy-block-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}
/* чекбокс */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: #ffffff;
  border: 1px solid #c2c9d1;
  border-radius: 13px;
}
.container input:checked ~ .checkmark {
  background-color: #00a2ff;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.checkmark-height {
  height: 40px;
}

/* конец */
.auth-menu-button-block {
  margin-top: 32px;
  width: 100%;
  height: 68px;
  background: #c2c9d1;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 16px;
}
.auth-menu-button-block-text {
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.auth-menu-down-block-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #c2c9d1;
}
.auth-menu-down-block-text-two {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #00a2ff;
  cursor: pointer;
}
.auth-menu-down-block {
  display: grid;
  justify-items: center;
}
.noacc {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  cursor: pointer;
  color: #1d1d1d;
}
.auth-back-block {
  position: absolute;
  left: 24px;
  top: 40px;
}
.auth-back-block-text {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;

  /* C2C9D1 */

  color: #c2c9d1;
  margin-left: 9px;
  cursor: pointer;
}
